@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-display: swap;
	src: url('./fonts/Roboto/Roboto-Regular/Roboto-Regular.eot'),
	url("./fonts/Roboto/Roboto-Regular/Roboto-Regular.woff") format("woff"),
	url("./fonts/Roboto/Roboto-Regular/Roboto-Regular.otf") format("opentype"),
	url("./fonts/Roboto/Roboto-Regular/Roboto-Regular.svg#grablau") format("svg");
}